{% extends 'base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
        <div class="welcomeparent mt-7">
            <h1 class="white" style="font-family: 'nexabold';">Our&nbsp;</h1><h1 class="green"  style="font-family: 'nexabold';">Mission&nbsp;</h1><h1 class="white" style="font-family: 'nexabold';">is Simple and Twofold</h1>
        </div>
            <p class="ct white welcomechild">We focus on building a platform that creates more job opportunities for 
                designers while making our gamers look like a million bucks.
            </p>
            <div class="card odd mt-5 navbg" >
                <div class="row no-gutters" >
                  <div class="col-md-5 ">
                    <img src="/static/images/aboutt.png" class="card-img abtimg" alt="...">
                  </div>
                  <div class="col-md-7">
                    <div class="card-body mr-5">
                        <div class="twocol card-title ">
                            <h2 class=" white">Our Beliefs about&nbsp;</h2>
                            <h2 class=" green">Branding</h2>
                        </div>
                      <p class="card-text brnd white" ">We beleive gamers should be in tune with their viewers, unique, passinate, consistent,and have significant
                          exposure. Naturally , we recommend you sit down with a professional agency to talk about your future ambitions and letting them help you
                           craft a brand that matches your vision and viewers. This process is fascinating and extremely useful. Sadly, it is also too expensive and 
                           time-consuming for most gamers,which is why we build PixelNGraphics. Give your Streaming quality branding that sticks!
                      </p>  
                    </div>
                  </div>
                </div>
              </div>
            <div class="card even bg" >
                <div class="row no-gutters">
                    <div class="col-md-8 mt-auto mb-auto">
                        <div class="card-body mr-5">
                          <p class="card-text white" >Are you a <i class="green">passinate gamer</i> looking for 
                            professional branding that matches your aspiration and dramatically improves your growth?</p>  
                        </div>
                      </div>
                  <div class="col-md-4 slant greenbg oddcard">
                    <img src="/static/images/Game FI.svg" class="card-img" alt="...">
                  </div>
                </div>
              </div>
              <div class="rightplace navbg">
<div class="twocol mt-3 ">
  <h1 class="white">Then you have come to the&nbsp;</h1> <h1 class="green ct">right place!</h1>
</div>
<p class="white">We'd love to help you build a recognizable brand.</p>
<div class="imgcont mt-5">
  <div><img src="/static/images/Mascot FI.svg" alt=""><h5 class="green ct mt-3">MASCOT LOGOS</h5></div>
 <span></span>
  <div><img src="/static/images/Banners FI.svg" alt=""><h5 class="green ct mt-3">BANNERS</h5></div><span></span>
  <div><img src="/static/images/STREAM OVERLAYS FI.svg" alt=""><h5 class="green ct mt-3">STREAM OVERLAYS</h5></div>
</div>
</div>
<div class="card even2 bg" >
  <div class="row no-gutters">
    <div class="col-md-4 slantopp greenbg">
      <img src="/static/images/Designer FI.svg" class="card-img" alt="...">
    </div>
      <div class="col-md-8 mt-auto mb-auto">
          <div class="card-body mr-5">
            <p class="card-text white" >Are you a <i class="green">passinate designer</i> looking to 
              to sell your designs to make some well-deserved passive income?</p>  
          </div>
        </div>
   
  </div>
</div>    
<div class="rightplace navbg">
  <div class="twocol mt-3 ">
    <h1 class="white">We've got you&nbsp;</h1> <h1 class="green ct">covered&nbsp;</h1><h1 class="white">too!</h1>
  </div>
  <p class="white">Join our community of talented designers and earn money while you sleep!</p>
  <div class="imgcont mt-5">
    <div><img src="/static/images/Mascot FI.svg" alt=""><h5 class="green ct mt-3">1. MAKE YOUR DESIGN</h5></div>
   <span></span>
    <div><img src="/static/images/Website FI.svg" alt=""><h5 class="green ct mt-3">2. UPLOAD ON OUR WEBSITE</h5></div><span></span>
    <div><img src="/static/images/Like FI.svg" alt=""><h5 class="green ct mt-3">3. WOOHOO ITS DONE</h5></div>
  </div>
  </div> 
  <h1 class="white ct mt-5 btext">So, what are you waiting for?</h1>
  <div class="twocol welcomeparent bttext" >
    <h4 class="white ct">Start&nbsp;</h4>
    <h4 class="green">buying&nbsp;</h4>
    <h4 class="white">or&nbsp;</h4>
    <h4 class="green">selling&nbsp;</h4>
    <h4 class="white">now !</h4>
  </div>
{% endblock body %}
    