{% extends 'base.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/contactUs.css' %}">
<div class="heading mt-7"> 
<h1 class="ns mt-4 bold">Need some
<b class='green bold'>Support</b> ?</h1>
</div>
<div class="support"><h3 class="white">We are small team, but will try to help you as best and as quickly as possible!</h3> 
   
        <h3 class="white">Contact Us
        <b class="green">@support@pixelngraphics.com</b></h3>
    <h3 class="white">Make sure you go through our
        <b class="green">&nbsp;FaQs&nbsp;</b>before contacting us</h3>
</div>
<div class="faqs">
    <h2 class="green">FaQs</h2>
    <div class="ques"><h5 class="green">Q:  &nbsp;</h5>       
        <h5 class="white">Do you want revision?</h5>
    </div>
    <div class="ans"><h5 class="green">A:  &nbsp;</h5>
        <h5 class="white">We will only make one &nbsp;</h5>
    <h5 class="green">single &nbsp;</h5>
            <h5 class="white">change in &nbsp;</h5> <h5 class="green" >colour &nbsp;</h5>
            <h5 class="white">and &nbsp;</h5><h5 class="green">text &nbsp;</h5><h5 class="white">
                after purchase, so you cannot &nbsp;</h5><h5 class="white">ask multiple revisions.</h5>
    </div>

<div class="ques">
        <h5 class="green">Q: &nbsp;</h5>
        <h5 class="white">Do you want a Refund?</h5>
        <div class="ans">
            <h5 class="green">A: &nbsp;</h5>
            <h5 class="white"> Check out our&nbsp;</h5><h5 class="green underline">Refund Policy.</h5>
        </div>
        <div class="ques">   <h5 class="green">Q: &nbsp;</h5>
        <h5 class="white">Do you want to become a seller <h5 class="white"> or partner?</h5></h5></div>
        <div class="ans"><h5 class="green">A: &nbsp;</h5>
            <h5 class="white"> Head over to become a partner&nbsp; </h5><h5 class="green underline">partner</h5><h5 class="white">&nbsp;or become a&nbsp;</h5>
            <h5 class="green underline">seller</h5><h5 class="white">&nbsp;page
                for more details.</h5>
        </div>
    </div>
</div>
{% endblock body %}
