{% extends 'base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/customlogo.css' %}">
    <div class="container-xl cl mt-7 pb-5">
        <h1  class="white mt-5 ct customh">ORDER A CUSTOM GRAPHICS</h1>
<p class="green  customhb ct">Can't find what you're looking for? Fill out the form below <br> and get started with your custom logo.</p>
<div class="message mt-4"></div>
<form class="form">
    <div class="form-group">
      <label for="name" class="white">Name*</label>
      <input type="name" class="form-control" id="name" required>
    </div>
    <div class="form-group">
      <label for="email" class="white">Email*</label>
      <input type="email" class="form-control" id="email" required>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1" class="white">Brief (What are you looking for? What are your ideas?)*</label>
      <textarea class="form-control"  rows="3" id="brief" class="brf" required></textarea>
    </div>
   <label for="name" class="white">Budget*</label>
<div class="select">
  <select name="slct" id="slct" onchange="budget(value)">
    <option selected disabled>Please Select</option>
    <option value="Logo">Logo</option>
    <option value="Custom Emojis">Custom Emojis</option>
    <option value="Banner">Banner</option>
    <option value="Stream Overlay">Stream Overlays</option>
  </select>
</div>
<div class="select2" style="display: none;">
  <select name="slct" id="slct" >
    <option selected disabled>Please Select</option>
    <option value="1">Logo</option>
    <option value="2">Banner</option>
    <option value="3">Stream Overlays</option>
  </select>
</div>   
<div class="botcon">  
  <button class="btn btn-success spinbutton m-auto" type="button" onclick="custom()" >
    Submit
  </button>
</div>
  </form>
    </div>
    <script src="{% static 'js/customlogo.js' %}">
    </script>
{% endblock body %}
    
