{% extends 'base.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
   <div class="welcomeparent mt-7">
     <h1 class='welcome'>Welcome to</h1>
     <h1 class='welcome2'>PixelN'Graphics</h1>
  </div>
  <div class="container-xl">
   <video id="vp" width="100%" autoplay='true' width="100%" loop >
      <source id="source" src="/media/{{ht.0.topvideo}}" type="video/mp4">
      Your browser does not support the video tag.
      </video>
      <hr class="greenbg">
     <div class="card even bg" style="cursor: pointer;" onclick="smoothScroll(document.getElementById('procont'),0)">
      <div class="row no-gutters">
          <div class="imgpar mt-auto mb-auto" style="width: 100%;">
               <img width="100%" height="100%" src="/media/{{ht.0.toppremadelogo}}" alt="" srcset=""> 
            </div>
        <div class="col-md-6 slant navbg">
          <h4 class="white">Premade Logos</h4>
          <br>
          <p class="white">Choose from hundreds of premade design, with new design added weekly. Give your channel a brand new look !</p>
          <!-- <img src="/static/images/Game FI.svg" class="card-img" alt="..."> -->
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-xl">
    <div class="card even bg mt-4" style="cursor: pointer;" onclick="smoothScroll(document.getElementById('procont'),1)">
      <div class="row no-gutters">
          <div class="imgpar mt-auto mb-auto" style="width: 100%;">
               <img width="100%" height="100%"  src="/media/{{ht.0.banner}}" alt="" srcset=""> 
            </div>
        <div class="col-md-6 slant2 navbg">
          <h4 class="white">Banners</h4>
          <br>
          <p class="white">Touch up your channel with one of the best banners out there. Choose from premade designs or order a custom now</p>
          <!-- <img src="/static/images/Game FI.svg" class="card-img" alt="..."> -->
        </div>
      </div>
    </div>
    <div class="card even bg mt-4" style="cursor: pointer;" onclick="smoothScroll(document.getElementById('procont'),2)">
      <div class="row no-gutters">
          <div class="imgpar mt-auto mb-auto" style="width: 100%;">
               <img width="100%" height="100%"  src="/media/{{ht.0.streamoverlays}}" alt="" srcset=""> 
            </div>
        <div class="col-md-6 slant navbg">
          <h4 class="white">Stream Overlays</h4>
          <br>
          <p class="white">Want your stream to be an another level ? </p>
          <p class="white">Get these easy to use stream overlays and start streaming with a boom !</p>
         
        </div>
      </div>
    </div>
  </div>
  <div class="container-xl mt-5 " id="procont">
    <hr class="greenbg">
    <div class="options">
      <h5 class="green cc c1" onclick="changecal(0,this)" style="cursor: pointer;">PREMADE LOGOS</h5>
      <div></div>
      <h5 class="white cc c2" onclick="changecal(1,this) " style="cursor: pointer;">BANNERS</h5>
      <div></div>
      <h5 class="white cc c3" onclick="changecal(2,this)" style="cursor: pointer;">STREAM OVERLAYS</h5>
    </div>
    <hr class="greenbg mb-0">
<div class="productContainer">
  <div class="filters pt-3">
    <h4 class="fh4"><Strong class="white">Sort By:</Strong></h4>
    <ul>
      <li class="white fti4" onclick="sort(0,this)">Price-High to Low</li>
      <li class="white fti4" onclick="sort(1,this)">Price-Low to High</li>
      <li class="white fti4" onclick="sort(2,this)">Best Selling</li>
      <li class="white fti4" onclick="sort(3,this)">Top Rating</li>
      <li class="green fti4" onclick="sort(4,this)">Newly Added</li>
      <li class="white fti4" onclick="sort(5,this)">Sale</li>
    </ul>
    <div class="custom mt-4">
      <h2 class="green">Custom Graphic:</h2>
      <h6 class="white">Do you need a custom graphic? Order Now !</h6>
      <button type="button" class="btn btn-outline-success" onclick="window.location.href='/customlogo'">ORDER NOW</button>
    </div>
  </div>
  <div class="vSeprator greenbg"></div>
  <div class="products pt-3">
    <div class="row row-cols-1 row-cols-md-2 g-4 logo">
      
      {% for item in product %}
      
      {% if forloop.counter < 3 %}

        
      <div class="col lg" onclick="window.location.href='/productDetail/{{item.0.sno}}'">
        <div class="card bg-dark text-white">
          <img src="/media/{{item.1.samplesfile}}"  class="card-img" alt="...">
        
          <div class="card-img-overlay">
            
            {% if item.0.title|length > 20 %}
            
            <p class="card-text">{{item.0.title|slice:"0:20"}}... | $ {{item.0.Price}}</p>
            {% else %}
            <p class="card-text">{{item.0.title}} | $ {{item.0.Price}}</p>
            {% endif %}
              
           
          </div>
        </div>
      </div>
      {% else %}
                
      <div class="col lg" style="display: none;" onclick="window.location.href='/productDetail/{{item.0.sno}}'">
        <div class="card bg-dark text-white">
          <img src="/media/{{item.1.samplesfile}}"  class="card-img" alt="...">
        
          <div class="card-img-overlay">
            
            {% if item.0.title|length > 20 %}
            
            <p class="card-text">{{item.0.title|slice:"0:20"}}... | $ {{item.0.Price}}</p>
            {% else %}
            <p class="card-text">{{item.0.title}} | $ {{item.0.Price}}</p>
            {% endif %}
              
           
          </div>
        </div>
      </div>      
      {% endif %}
      {% endfor %}
    
   
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4 banner" style="display: none;">
      
      {% for item in banner %}
      
      {% if forloop.counter < 3 %}
      <div class="col bn" onclick="window.location.href='/productDetail/{{item.0.sno}}'">
        <div class="card bg-dark text-white">
          <img src="/media/{{item.1.samplesfile}}"  class="card-img" alt="...">
        
          <div class="card-img-overlay">
            
            {% if item.0.title|length > 20 %}
            
            <p class="card-text">{{item.0.title|slice:"0:20"}}... | $ {{item.0.Price}}</p>
            {% else %}
            <p class="card-text">{{item.0.title}} | $ {{item.0.Price}}</p>
            {% endif %}
              
           
          </div>
        </div>
      </div>
      {% else %}
  
        
      <div class="col bn" style="display: none;" onclick="window.location.href='/productDetail/{{item.0.sno}}'">
        <div class="card bg-dark text-white">
          <img src="/media/{{item.1.samplesfile}}"  class="card-img" alt="...">
        
          <div class="card-img-overlay">
            
            {% if item.0.title|length > 20 %}
            
            <p class="card-text">{{item.0.title|slice:"0:20"}}... | $ {{item.0.Price}}</p>
            {% else %}
            <p class="card-text">{{item.0.title}} | $ {{item.0.Price}}</p>
            {% endif %}
              
           
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4 stream" style="display: none;">
      
      {% for item in stream %}
      
      {% if forloop.counter < 3 %}
             
      <div class="col st" style="display: none;" onclick="window.location.href='/productDetail/{{item.0.sno}}'">
        <div class="card bg-dark text-white">

      
          <video id="vp" width="100%" height="550px" autoplay='true' width="100%" loop >
      <source id="source" src="/media/{{item.1.samplesfile}}" type="video/mp4">
      Your browser does not support the video tag.
      </video>
          <div class="card-img-overlay">
            {% if item.0.title|length > 20 %}  
            <p class="card-text">{{item.0.title|slice:"0:20"}}... | $ {{item.0.Price}}</p>
            {% else %}
            <p class="card-text">{{item.0.title}} | $ {{item.0.Price}}</p>
            {% endif %}
              
           
          </div>
        </div>
      </div>
{% else %}

   
        
      <div class="col st" onclick="window.location.href='/productDetail/{{item.0.sno}}'">
        <div class="card bg-dark text-white">

      
          <video id="vp" width="100%" height="550px" autoplay='true' width="100%" loop >
      <source id="source" src="/media/{{item.1.samplesfile}}" type="video/mp4">
      Your browser does not support the video tag.
      </video>
          <div class="card-img-overlay">
            
            {% if item.0.title|length > 20 %}
            
            <p class="card-text">{{item.0.title|slice:"0:20"}}... | $ {{item.0.Price}}</p>
            {% else %}
            <p class="card-text">{{item.0.title}} | $ {{item.0.Price}}</p>
            {% endif %}
              
           
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    
   
    </div>
    <div class="pagenav" style="display: none;">
      <nav aria-label="Page navigation example ">
        <ul class="pagination ">
          <li class="page-item navbg" style="cursor: pointer;">
            <a class="page-link navbg" onclick="pageback()" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item navbg"><a class="page-link pageno navbg">1</a></li>
        
          <li class="page-item navbg" style="cursor: pointer;">
            <a class="page-link navbg" onclick="pagefor()" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
      </div>
  </div>
</div>
<!-- <div class="pagenav">
<div style="width: 58.8%;"></div>
<nav aria-label="Page navigation example navbg">
  <ul class="pagination navbg">
    <li class="page-item navbg">
      <a class="page-link navbg" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item navbg"><a class="page-link navbg" href="#">1</a></li>
  
    <li class="page-item navbg">
      <a class="page-link navbg" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</div> -->
<script src="{% static 'js/home.js' %}">
</script>
  </div>
  {% endblock body %}