
     {% extends 'base.html' %}

{% block body %}
    {% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<div id="myOverlay" class="overlay">

  <a href="javascript:void(0)" class="closebtn" onclick="closeFullNav()">&times;</a>

 
  <div class="overlay-content">
    <div id="profilecard " class="pc2">
      <div class="name">
        <h3 class="ct white mb-0">{{request.user}} </h3>
          <p class="green ct ">{{email}}</p>
      </div>

        <div class="image-crop mb-5">
          {% if profile.0.profileImage %}
          <img id="avatar" src="/media/{{profile.0.profileImage}}"></img>
            {% else %}
            <img id="avatar" src="/static/images/LOGO TR.png"></img>
          {% endif %} 
        </div>     
<!--       
        <div class="card-group">
        <button type="button" class="btn btn-outline-success btn-lg pv" data-toggle="modal" data-target="#exampleModalCenteredScrollable">Edit Profile</button>
      </div> -->
        <br> 
    </div>
  </div>

</div>
<div class="container-xl mt-7">
<div class="message"></div>
    <div class="profileContainer">
    <div id="profilecard" class="pc1">
      <div class="name">
        <h3 class="ct white mb-0">{{request.user}} </h3>
          <p class="green ct ">{{email}}</p>
      </div>

        <div class="image-crop mb-5">
          {% if profile.0.profileImage %}
          <img id="avatar" src="/media/{{profile.0.profileImage}}"></img>
            {% else %}
            <img id="avatar" src="/static/images/LOGO TR.png"></img>

          {% endif %} 
        </div>
        
     
        <!-- <div class="card-group">
        <button type="button" class="btn btn-outline-success btn-lg pv" data-toggle="modal" data-target="#exampleModalCenteredScrollable">Edit Profile</button>
      </div> -->
        <br> 
   
    </div>
    <div class="works">
   <div class="worksh navbg">
   <h2>My Orders</h2>
   <img class="whamburger " style="cursor: pointer; " onclick="openFullNav()" src="/static/images/user.svg"  alt="" srcset="">
</div>
<div class="workcontainer mt-5">
  
  {% if result %}
<div class="row row-cols-1 row-cols-md-2" ">
  {% for item in result %}
  <div class="col   mb-4">
    <div class="card">
      {% if item.0.category|slugify == 'stream'  %}
      <video id="vp" width="100%" height="auto" autoplay='true' loop >
        <source id="source" src="/media/{{item.1.0.samplesfile}}" type="video/mp4">
        Your browser does not support the video tag.
        </video>    
        {% else %}
      <img src="/media/{{item.1.0.samplesfile}}" class="card-img-top" alt="...">
      {% endif %}
      <div class="card-body navbg">
        <h5 class="card-title white">{{item.0.0.title|slice:"0:120"}}</h5>
        <h2 class="mt-4 green">&#36; {{item.0.0.Price}}</h2>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
  {% else %}  
  <div class="col " style="margin-bottom:60vh ;">
      <div class="card">
        <div class="card-body navbg">
         
          <h1 class="mt-4 green ct" >NO ORDER PLACED</h1>
        </div>
      </div>
    </div >
{% endif %}
</div>
    </div>
</div>
</div>
  <!-- Modal -->
 
  <div class="modal fade show" id="exampleModalCenteredScrollable" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none; padding-right: 12px;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="message">
        </div>
        <div class="modal-header">
          <h5 class="modal-title white" id="exampleModalCenteredScrollableTitle">Edit Profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
                <div class="modal-body">
        
        
          <input type="hidden" value="{{profile.0.sno}}">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Profile Image</span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input primg" id="inputGroupFile03" accept="images/*" aria-describedby="inputGroupFileAddon03">
              <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
            </div>
          </div>
          <div class="input-group mt-4 mb-5">
            <div class="input-group-prepend">
              <span class="input-group-text " id="inputGroup-sizing-default ">Tag</span>
            </div>
            <input type="text" class="form-control tag" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{profile.0.tag}} ">
          </div>
          <div class="input-group mt-4 mb-5">
            <div class="input-group-prepend">
              <span class="input-group-text " id="inputGroup-sizing-default ">Fullname</span>
            </div>
            <input type="text" class="form-control fullname" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{profile.0.Fullname}} ">
          </div>
          <div class="form-row">
            <div class="col">
              <label for="country" class="white mb-3">Country</label>
              <input type="text" class="form-control country" value="{{profile.0.Country}}" placeholder="Country">
            </div>
            <div class="col">
              <label for="state" class="white mb-3">State</label>

              <input type="text" class="form-control state" value="{{profile.0.State}}" placeholder="State">
            </div>
          </div>
          <div class="form-row white mt-4">
            <div class="col">
              <label for="city" class="white mb-3">City</label>
              <input type="text" class="form-control city" value="{{profile.0.City}}" placeholder="City">
            </div>
            <div class="col">
              <label for="zip" class="white mb-3">Postal Code</label>

              <input type="text" class="form-control zip" value="{{profile.0.PostalCode}}" placeholder="Postal Code">
            </div>
          </div>
          <div class="input-group mt-4 mb-5">
            <div class="input-group-prepend">
              <span class="input-group-text " id="inputGroup-sizing-default ">Address</span>
            </div>
            <input type="text" class="form-control address" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{profile.0.Address}} ">
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Description</span>
            </div>
            <textarea class="form-control desc" aria-label="With textarea">{{profile.0.discription}}</textarea>
          </div>
          <div class="form-check mb-4">
            
            {% if profile.0.SendInvoices|slugify == 'true' %}
            <input class="form-check-input invoice" type="checkbox" checked id="defaultCheck1">
              {% else %}
              <input class="form-check-input invoice" type="checkbox"  id="defaultCheck1">

            {% endif %}
              
            <label class="form-check-label white" for="defaultCheck1">
              Send invoices by email
            </label>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Paypal or bank account details</span>
            </div>
            <textarea class="form-control ad" aria-label="With textarea">{{profile.0.accountdetails}}</textarea>
          </div>
        </div>
        <div class="modal-footer f2">
          <button type="button" class="btn btn-primary" onclick="editprofile('{{profile.0.sno}}')">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  </div>

{% endblock body %}
