{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="container">
        <div class="welcomeparent">
            <h2 class="green">Privacy</h2><h2 class="white">&nbsp;Policy</h2>
        </div>
        <div class="content ct">
        <p class="white ">If you wish to purchase any product  on this website (PixelN’Graphics) made available through our selling feature, you may be asked to provide certain information regarding/relevant to your purchase including your name, address, phone number, email address and payment details. 
        <br>    By accepting these terms you reassure that you would not be <br>
            i) Providing False Information <br>
            ii) You have legal rights to the payment methods use</p>
            <p class="white mt-4">PixelN’Graphics may be using third party services such as Paypal, Paytm, Google Pay and similar services for completing payments for purchases. 
                By agreeing to our terms you grant us the right to provide the information to these third party services while completing purchase transactions</p>
  <p class="green mt-4 mb-3">Common Questions</p>
  <p class="white">- How will your information be used?</p>
  <p class="white">We will process your information for business transactions,
       and to complete our service to you. We may also use your information to send you promotional content as well as informations about sales</p>
  <p class="mt-3 white"> -Will your information be shared?</p>
  <p class="white">No, your information will always be be kept hidden unless we get consent from you, 
      Ofcourse however we would be using the information would comply with all laws and regulations.</p>
      <p class="white mt-3"> -Who will your information be shared with?</p>
      <p class="white">Your information will be shared with third parties like Paypal, Paytm, Google Pay.
        It will also be shared with ( with consent) Google Adsense and social media you have linked your account to (if any).</p>
      <p class="white mt-3"> -Who will your information be shared with?</p>
      <p class="white">Your information will be shared with third parties like Paypal, Paytm, Google Pay.
        It will also be shared with ( with consent) Google Adsense and social media you have linked your account to (if any).</p>
      <p class="white mt-3"> -Do we use cookies ?</p>
      <p class="white">Yes, we do use cookies to store your information but you can always disable this feature.</p>
      <p class="white mt-3">-What about Third Party Websites?</p>
      <p class="white">We are not responsible for the safety of information that you have shared with third party websites that PixelN’Graphics (we) are affiliated with.</p>
         
      <p class="white mt-3">-Is your information safe?</p>
      <p class="white">Yes, it is kept safe through various firewalls and a system of organized technical safety measures.</p>
         
         
      <p class="white mt-3">  -What are your privacy rights?</p>
      <p class="white">In some regions, such as the European Economic Area, you have rights that allow you 
          greater access to and control over your personal information.
           You may review, change, or terminate your account at any time.</p>
      <p class="green mt-3">Also keep in mind</p>
      <p class="white">In some regions, such as the European Economic Area, you have rights that allow you 
          greater access to and control over your personal information.
           You may review, change, or terminate your account at any time.</p>
    </div></div>
{% endblock body %}
    