{% extends 'base.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/productDetail.css' %}">
    <div class="container-xl mt-7 navbg pt-3 pb-3">
        <div class="productdisplay">
            <div class="disc">
                <h4 class="green mb-0 ml-1">{{pr.0.sellername}}</h4>
                <h1 class="white mt-0">{{pr.0.title}}</h1>

<h4 class="white cn">Need Change in Text and Colour?</h4>
<div class="input-field mb-4">
    <i class="fas fa-user"></i>
    <input type="text" id="changes"  placeholder="if yes, please specify..." />
  </div>
{% if user.is_not_authenticated %}
<button  class="btn btn-success spinbutton mt-4" onclick="window.location.href='/signin'" style="cursor: pointer;" type="button" >
  LOG IN CONTINUE
  </button>
  {% elif l|slugify == '1' %}
  <button  class="btn btn-success spinbutton mt-4" onclick="window.location.href='/cart'" style="cursor: pointer;" type="button" >
    GO TO CART
    </button>
    {% else %}
    <button  class="btn btn-success spinbutton " onclick="Addtocart('{{pr.0.sno}}',this)" style="cursor: pointer;" type="button" >
      ADD TO CART
      </button>
  {% endif %}
            </div>
            <hr class="greenbg dev" style="height: 2px; width: 100%;">

            <div class="img">
                <div class="mainimg">
                  
                  {% if pr.0.category|slugify == 'stream' %}
                  <div class="vid">
                  <video id="vp" width="100%" height="100%" autoplay='true' loop >
                    <source id="source" class="mainimage" src="/media/{{ps.0.samplesfile}}" type="video/mp4">
                    Your browser does not support the video tag.
                    </video>
                    </div>
                    {% else %}
                    <img class="mainimage" src="/media/{{ps.0.samplesfile}}" alt="" srcset="">
                  {% endif %}
                    
                </div>
                <div class="otherimg">
                    <div class="rowcus  g-4">
                     
                      {% for item in ps %}
                      {% if forloop.counter > 0%}
                        <div class="colcus mt-3 mr-3">
                          <div class="card extras" >
                            {% if pr.0.category|slugify == 'stream' %}
                   
                      <video onclick="changemainimg('/media/{{item.samplesfile}}',0)" id="vp" width="100%" height="auto" autoplay='true' loop >
                        <source id="source" src="/media/{{item.samplesfile}}" class="" type="video/mp4">
                        Your browser does not support the video tag.
                        </video>
                   
                              {% else %}
                            <img src="/media/{{item.samplesfile}}" style="cursor: pointer;" onclick="changemainimg('/media/{{item.samplesfile}}',1)" class="card-img-top " alt="...">
                            {% endif %}
                          </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    
                      </div>
                </div>
            </div>
        </div>
        <hr class="greenbg" >
        <div class="recworks">
         <h2 class="white">WORKS YOU MAY LIKE:</h2>
         <div class="slider_wrapper">
         <div class="productslider">
           
           {% for item in rec %}

{% if item.0.sno != pr.0.sno %}
  

  
             
            <div class="card bg-dark text-white mr-2 "  onclick="window.location.href='/productDetail/{{item.0.sno}}'" >
              {% if item.0.category|slugify == 'stream' %}
              <div class="card-img"">
              <video i width="100%" height="100%" autoplay='true' loop >
                <source id="source" class="mainimage" src="/media/{{item.1.0.samplesfile}}" type="video/mp4">
                Your browser does not support the video tag.
                </video>
                </div>
                {% else %}
                <img src="/media/{{item.1.0.samplesfile}} " class="card-img" alt="...">
              {% endif %}
               
                <div class="card-img-overlay">
                  
                  <p class="card-text">{{item.0.title}} | $ {{item.0.Price}}</p>
                 
                </div>
              </div>
              {% endif %}   
           {% endfor %}
        
          
         </div>
        </div></div>
        
    </div>
<script src="{% static 'js/productDetail.js' %}">
    </script>
{% endblock body %}
