{% extends 'base.html' %}

{% block body %}
    {% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<div id="myOverlay" class="overlay">

  <a href="javascript:void(0)" class="closebtn" onclick="closeFullNav()">&times;</a>


  <div class="overlay-content">
    <div id="profilecard " class="pc2">
      <div class="name">
        <h3 class="ct white mb-0">{{profile.0.sellername}} </h3>
          <p class="green ct ">{{profile.0.tag}}</p>
      </div>

        <div class="image-crop mb-5">
          {% if profile.0.profileImage %}
          <img id="avatar" src="/media/{{profile.0.profileImage}}" ></img>
            {% else %}
            <img id="avatar" src="https://drive.google.com/uc?id=1EVA3KUBLxCXF2EGmTf4LUB8F4yAvBrjl"></img>
          {% endif %} 
        </div>
        
        <div id="stats">
            <div class="col">
                <p class="stat">{{profile.0.products}}</p>
                <p class="label">Products</p>
            </div>
       <div class="col">
                <p class="stat">{{profile.0.sells}}</p>
                <p class="label">Sells</p>
            </div>
      <div class="col">
                <p class="stat">&#36; {{profile.0.earned}}</p>
                <p class="label">Earned</p>
            </div>
        </div>
        <div class="card-group">
        <button type="button" class="btn btn-outline-success btn-lg pv" data-toggle="modal" data-target="#exampleModalCenteredScrollable">Edit Profile</button>
        <button type="button" class="btn btn-outline-success btn-lg pv" onclick="window.location.href='/profileview/{{profile.0.sellername}}/{{request.user.id}}'">Public View</button>
      </div>
        <input type="hidden" class="srating2" value="{{profile.0.sellerRating}}">
        <span class="rating ">
            <!-- <h6 class="white mt-5">Total Rating</h6>
            <div class="stars">
                <span class="s2">&#9733;</span>
                <span class="s2">&#9733;</span>
                <span class="s2">&#9733;</span>
                <span class="s2">&#9733;</span>
                <span class="s2">&#9733;</span>
            </div>   -->
            <!-- <h6 class="white mt-5">Seller Rank</h6>
            <h3 class="green">1st</h3> -->
            <h2 class="green mt-5">About the seller</h2>
            <p class="white">{{profile.0.discription}}</p>
            </span>
        <br> 

    </div>
  </div>

</div>
<div class="container-xl mt-7">
<div class="message"></div>
    <div class="profileContainer">
    <div id="profilecard" class="pc1">
      <div class="name">
        <h3 class="ct white mb-0">{{profile.0.sellername}} </h3>
          <p class="green ct ">{{profile.0.tag}}</p>
      </div>

        <div class="image-crop mb-5">
          {% if profile.0.profileImage %}
          <img id="avatar" src="/media/{{profile.0.profileImage}}"></img>
            {% else %}
            <img id="avatar" src="https://drive.google.com/uc?id=1EVA3KUBLxCXF2EGmTf4LUB8F4yAvBrjl"></img>
          {% endif %} 
        </div>
        
        <div id="stats">
            <div class="col">
                <p class="stat">{{profile.0.products}}</p>
                <p class="label">Products</p>
            </div>
       <div class="col">
                <p class="stat">{{profile.0.sells}}</p>
                <p class="label">Sells</p>
            </div>
      <div class="col">
                <p class="stat">&#36; {{profile.0.earned}}</p>
                <p class="label">Earned</p>
            </div>
        </div>
        <div class="card-group">
        <button type="button" class="btn btn-outline-success btn-lg pv" data-toggle="modal" data-target="#exampleModalCenteredScrollable">Edit Profile</button>
        <button type="button" class="btn btn-outline-success btn-lg pv" onclick="window.location.href='/profileview/{{profile.0.sellername}}/{{request.user.id}}'">Public View</button>
      </div>
        <input type="hidden" class="srating" value="{{profile.0.sellerRating}}">
        <span class="rating ">
           
            <!-- <h6 class="white mt-5">Seller Rank</h6>
            <h3 class="green">1st</h3> -->
            <h2 class="green mt-5">About the seller</h2>
            <p class="white">{{profile.0.discription}}</p>
            </span>
        <br> 
   
    </div>
    <div class="works">
   <div class="worksh navbg">
   <h2>WORKS</h2>
   <img class="whamburger " style="cursor: pointer; " onclick="openFullNav()" src="/static/images/user.svg"  alt="" srcset="">
</div>
<div class="workcontainer mt-5">
    <div class="row row-cols-1 row-cols-md-2">
            {% if pr %}
        <div class="col mb-4" style="cursor: pointer;" onclick="window.location.href='/productDetail/{{pr.0.0.title}}/{{pr.0.0.sno}}'">
          <div class="card navbg">
      
                {% if pr.0.1.filetype|slugify == 'video'  %}
                <video id="vp" width="100%" height="auto" autoplay='true' loop >
                  <source id="source" src="/media/{{item.1.samplesfile}}" type="video/mp4">
                  Your browser does not support the video tag.
                  </video>    
                  {% else %}
            <img src="/media/{{pr.0.1.samplesfile}}"  class="card-img-top" alt="...">
{% endif %}      
 <div class="card-body wcd white">
              <h4 class="card-text">{{pr.0.0.title|slice:"0:120"}}</h4>
              <p class="card-text"><i> {{pr.0.0.category}}</i></p>
              <h2 class="mt-4 green">&#36;  {{pr.0.0.Price}}</h2>
            </div>
          </div>
        </div>
 {% endif %}
        <div class="col mb-4">
            <div class="card addnew navbg" >
                <div class="card-body addnewdesign m-auto">                  
                    <div class="container">
                        <div class="email" onclick="this.classList.add('expand')">
                            <div class="from">
                                <div class="from-contents">
                                    <button class="btn btn-primary m-0" >&#43;</button>
                          <!-- <div class="fname">Mikael Ainalem</div> -->
                        </div>
                      </div>
                      <div class="to">
                        <div class="to-contents">
                          <div class="top">
                            <div class="name-large" data-toggle="modal" data-target="#staticBackdrop">Logo</div>
                            <div class="x-touch" onclick="document.querySelector('.email').classList.remove('expand');event.stopPropagation();">
                              <div class="x">
                                <div class="line1"></div>
                                <div class="line2"></div>
                              </div>
                            </div>
                          </div>
                          <div class="bottom">
                            <div class="top">
                                <div class="name-large" onclick="banner()" data-toggle="modal" data-target="#staticBackdrop">Banner</div>

                            </div>
                            <div class="top">
                                <div class="name-large" onclick="stream()" data-toggle="modal" data-target="#staticBackdrop">Stream</div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="card-text white ct mt-2" >Add a New Design.</p>
                  
                </div>
              </div>
       
            </div>
            {% for item in pr %}
            {% if forloop.counter > 1 %}
            <div class="col mb-4" style="cursor: pointer;"   onclick="window.location.href='/productDetail/{{item.0.sno}}'">
              <div class="card navbg">
                
                {% if item.1.filetype|slugify == 'video'  %}
                <video id="vp" width="100%" height="auto" autoplay='true' loop >
                  <source id="source" src="/media/{{item.1.samplesfile}}" type="video/mp4">
                  Your browser does not support the video tag.
                  </video>    
                  {% else %}
                  <img src="/media/{{item.1.samplesfile}}"  class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body wcd white">
                  <h4 class="card-text">{{item.0.title|slice:"0:120"}}</h4>
                  <p class="card-text"><i> {{item.0.category}}</i></p>
                  <h2 class="mt-4 green">&#36;  {{item.0.Price}}</h2>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
</div>
    </div>
</div>
</div>
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title white" id="staticBackdropLabel">Add your logo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="white" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
      
          <div class="input-group mb-5">
            <div class="input-group-prepend">
              <span class="input-group-text " id="inputGroup-sizing-default ">Title</span>
            </div>
            <input type="text" class="form-control title" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
          </div>
          <div class="input-group mb-5">
            <div class="input-group-prepend">
              <span class="input-group-text">Description</span>
            </div>  
            <textarea class="form-control" aria-label="With textarea" id="disc" required></textarea>
          </div>
          <p class="green">Press enter after each search tag</p>
          <div class="input-group mb-5">
            <div class="input-group-prepend search_tags">
              <span class="input-group-text">Search Tags</span>
              
            </div>
            <input type="text" class="form-control" onchange="addsearchtag(this)" id="searchTags"  aria-label="Dollar amount (with dot and two decimal places)">
          </div>
          <input type="hidden" class="cat" value="logo">
          <div class="fileformat mb-5">
            <label for="ks-cboxtags" class="white">File Format</label>
            <ul class="ks-cboxtags">
              <li><input type="checkbox" id="checkboxOne" value="AI"><label for="checkboxOne">AI</label></li>
              <li><input type="checkbox" id="checkboxTwo" value="JPG" checked><label for="checkboxTwo">JPG</label></li>
              <li><input type="checkbox" id="checkboxThree" value="PDF" checked><label for="checkboxThree">PDF</label></li>
              <li><input type="checkbox" id="checkboxFour" value="PNG"><label for="checkboxFour">PNG</label></li>
              <li><input type="checkbox" id="checkboxFive" value="PSD"><label for="checkboxFive">PSD</label></li>
              <li><input type="checkbox" id="checkboxSix" value="PNG" checked><label for="checkboxSix">PNG
                              </label></li>
              <li><input type="checkbox" id="checkboxSeven" value="EPS"><label for="checkboxSeven">EPS</label></li>
              <li><input type="checkbox" id="checkboxEight" value="CDR"><label for="checkboxEight">CDR</label></li>
              <li><input type="checkbox" id="checkboxNine" value="SVG"><label for="checkboxNine">SVG
                              </label></li>
            </ul>
          
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input samples" onchange="show(this)" id="inputGroupFile03" accept="images/*" multiple='multiple'   aria-describedby="inputGroupFileAddon03">
              <label class="custom-file-label sl" for="inputGroupFile03">Choose file</label>
            </div>
          </div>
          <div class="input-group mb-5">
            <div class="input-group-prepend">
              <span class="input-group-text ">Price</span>
           
            </div>
            <input type="text" class="form-control price" aria-label="Dollar amount (with dot and two decimal places)">
            <div class="input-group-append">
              <span class="input-group-text">$</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="sendForm(0)">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade show" id="exampleModalCenteredScrollable" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none; padding-right: 12px;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="message">
        </div>
        <div class="modal-header">
          <h5 class="modal-title white" id="exampleModalCenteredScrollableTitle">Edit Profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
                <div class="modal-body">
        
        
          <input type="hidden" value="{{profile.0.sno}}">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Profile Image</span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input primg" id="inputGroupFile03" accept="images/*" aria-describedby="inputGroupFileAddon03">
              <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
            </div>
          </div>
          <div class="input-group mt-4 mb-5">
            <div class="input-group-prepend">
              <span class="input-group-text " id="inputGroup-sizing-default ">Tag</span>
            </div>
            <input type="text" class="form-control tag" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{profile.0.tag}} ">
          </div>
          <div class="input-group mt-4 mb-5">
            <div class="input-group-prepend">
              <span class="input-group-text " id="inputGroup-sizing-default ">Selling name</span>
            </div>
            <input type="text" class="form-control sname" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{profile.0.sellername}} ">
          </div>
          <div class="input-group mt-4 mb-5">
            <div class="input-group-prepend">
              <span class="input-group-text " id="inputGroup-sizing-default ">Fullname</span>
            </div>
            <input type="text" class="form-control fullname" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{profile.0.Fullname}} ">
          </div>
          <div class="form-row">
            <div class="col">
              <label for="country" class="white mb-3">Country</label>
              <input type="text" class="form-control country" value="{{profile.0.Country}}" placeholder="Country">
            </div>
            <div class="col">
              <label for="state" class="white mb-3">State</label>

              <input type="text" class="form-control state" value="{{profile.0.State}}" placeholder="State">
            </div>
          </div>
          <div class="form-row white mt-4">
            <div class="col">
              <label for="city" class="white mb-3">City</label>
              <input type="text" class="form-control city" value="{{profile.0.City}}" placeholder="City">
            </div>
            <div class="col">
              <label for="zip" class="white mb-3">Postal Code</label>

              <input type="text" class="form-control zip" value="{{profile.0.PostalCode}}" placeholder="Postal Code">
            </div>
          </div>
          <div class="input-group mt-4 mb-5">
            <div class="input-group-prepend">
              <span class="input-group-text " id="inputGroup-sizing-default ">Address</span>
            </div>
            <input type="text" class="form-control address" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{profile.0.Address}} ">
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Description</span>
            </div>
            <textarea class="form-control desc" aria-label="With textarea">{{profile.0.discription}}</textarea>
          </div>
          <div class="form-check mb-4">
            
            {% if profile.0.SendInvoices|slugify == 'true' %}
            <input class="form-check-input invoice" type="checkbox" checked id="defaultCheck1">
              {% else %}
              <input class="form-check-input invoice" type="checkbox"  id="defaultCheck1">

            {% endif %}
              
            <label class="form-check-label white" for="defaultCheck1">
              Send invoices by email
            </label>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Paypal or bank account details</span>
            </div>
            <textarea class="form-control ad" aria-label="With textarea">{{profile.0.accountdetails}}</textarea>
          </div>
        </div>
        <div class="modal-footer f2">
          <button type="button" class="btn btn-primary" onclick="editprofile('{{profile.0.sno}}')">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="{% static 'js/profile.js' %}">
  </script>
{% endblock body %}
