{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="container-xl mb-5 mt-7">
        <div class="welcomeparent">
            <h2 class="green bold">Refund&nbsp;</h2> <h2 class="white bold">Policy</h2>
        </div>
        <div class="content ct">
            <p class="white">If you have paid for a design and haven't received it, within the given time limit, you are eligible for a <span class="green">refund.</span></p>
            <p class="green mt-3">Cases where Refund is applicable:</p>
            <p class="white">- You haven’t received your design after the estimated time limit.</p>
            <p class="white">- You have made proper payment for the design.</p>
            <p class="green mt-3">
                How to get refund?</p>
                <p class="white">Send a mail stating all the details(like date of purchase, payment details & proof) to<br>
                     refund@pixelngraphics.com <br>
                    We will verify all the details and then you will receive a refund after DEDUCTING THE PROCESSING FEES (if applicable) within 7 business days.</p>
      <p class="green mt-3">
        Cases where Refund is NOT applicable:</p>
        <p class="white">- You have received the design as per displayed on our website.</p>
        <p class="white">- You have ordered a design but changed your mind afterwards.</p>
 </div>
    </div>
    <style>
        @media (max-width: 800px){
            .content{
                width: 90%;
            }
        }
    </style>
{% endblock body %}
    