{% extends 'base.html' %}

{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/termsofservice.css' %}">
<div class="container-sm mt-7">
    <div class="welcomeparent">
        <h2 class="white">Terms&nbsp;Of&nbsp;</h2>
        <h2 class="green">Service</h2></div>
        <div class="content">
            <p class="white">Please read these TnCs ("Terms and Conditions") carefully before using the</p>
            <div class="twocol"><p class="green">https://www.pixelngraphics.com/&nbsp;</p><p class="white">website operated by&nbsp;<strong>PixelN’Graphics</strong>  team.</p></div>
            <p class="mt-4 white">Your access to and use of the Service is conditioned upon your acceptance of and compliance with these terms.
                 These terms apply to all visitors, users and others who wish to access or use the Service.</p>
                 <p class="mt-4 white">By accessing or using the Service you agree to be bound by these Terms. 
                     If you disagree with any part of the terms then you do not have permission to access the Service.</p>
                     <h4 class="mt-5 green ct" style="font-family: 'nexabold'">Purchase</h4>
                     <p class="white">If you wish to purchase in any product  on this website (PixelN’Graphics) made available through our selling feature, you may be asked to provide certain information regarding/relevant to your purchase including your name, address, phone number, email address and payment details. 
                      <br>  By accepting these terms you reassure that you would not be <br>
                        i) Providing False Information <br>
                        ii) You have legal rights to the payment methods use</p>
                        <p class="mt-3 white">PixelN’Graphics may be using thirdparty services such as Paypal, Paytm, Google Pay and similar services for completing payments for purchases. 
                            By agreeing to our terms you grant us the right to provide the information to these third party services while completing purchase transactions.</p>
                            <h4 class="mt-5 green ct" style="font-family: 'nexabold'">Inaccuries</h4>
     <p class="white">Please keep in kind that we are constantly updating our information on other websites which are used for advertising, so bear with a few inaccuraies and errors while updating information regarding our website. 
      <br>  Errors may include <br>
        i) Incorrect product prices. <br>
        ii) May not be available in your region. <br>
        iii) Designer/Seller may not be available.  <br>
        iv) Inaccuracies in design</p>
        <p class="mt-3  white">Thus we reserve the right to change any information shown in third-party sites to correct errors and inaccuracies without any prior notice.</p>
             <p class="mt-5 white ">This service, and all its features including all its contents, features and functionality are,
                 and will remain the exclusive property of&nbsp;<strong>PixelN’Graphics</strong>&nbsp;PixelN’Graphics and its partners.
                  This service, including all of its inventory is protected by copyright and trademark and laws of both India and other foreign countries.</p>      
    </div>
</div>
{% endblock body %}