.welcomechild{
    width: 35%;
    margin: auto;
}
.card-title{
    text-align: end;
    display: flex;
    justify-content: end;
}
.card-text{
    font-size: 20px;
}
.card img{
     margin: auto; 
width: 65%;
height: 85%;
margin-top: 37px;
}
.slant {
    clip-path: polygon(12% 0, 100% 0, 100% 100%, 0 100%);
    display: flex;
  }
.slantopp {
    clip-path: polygon(0% 0, 85% 0, 100% 100%, 0 100%);
    display: flex;
    padding: 50px 0 50px 0;
  }
.slantopp img{
    margin-top: auto;
   
}
.rightplace{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.imgcont{
    display: flex;
}
.imgcont div img{
height: 155px;
width: 245px;

}
.imgcont span{
    width: 50px;
}
.abtimg{
    transform: rotate(-4deg);
}
.brnd{
    text-align: end;
}
.even .card-text{
    text-align: start;
    font-size: 45px;
    }
.even2 p{
    text-align: end; 
    font-size: 45px;
}
@media only screen and (max-width:1000px)
{
    .no-gutters{
    flex-direction: column;
}

.slant{
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
}
.welcomechild{
    width: 50%;
}
/* .even{

} */
.odd .no-gutters >div{
    width: 100%;
    max-width: 80%;
    margin:auto;
}
.card img{
    width: 90%;
    height: 90;
}
.card-body{
    width: 100%;
    max-width: 100%;
}
.card-title{
    justify-content: center;
}
.card-text , .brnd{
    text-align: center;

}
.even .no-gutters{
    flex-direction: column-reverse;
}
.oddcard{
    width: 100%;
    max-width: 100%;
    height: 250px;
}
.oddcard img{
    width: 300px;
}
.even .col-md-8{
width: 100%;
max-width: 100%;
}
.even .card-text{
font-size: 35px;
text-align: center;
}
.even2 .col-md-4{
    max-width: 100%;
    width: 100%;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
}
.even2 .col-md-4 img{
    width: 300px;
}
.even2 .col-md-8{
    width: 100%;
    max-width: 100%;
}
.even2 p{
    max-width: 100%;
    width: 100%;
    text-align: center; 
    font-size: 35px;
}
.imgcont h5{
    font-size: 16px;
}
}
@media only screen and (max-width:802px)
{.no-gutters{
    flex-direction: column;
}
.welcomeparent h1{
    font-size: 30px;
}
.welcomechild{
    width: 50%;
}
.odd .no-gutters >div{
    width: 100%;
    max-width: 80%;
    margin:auto;
}
.card img{
    width: 90%;
    height: 90;
}
.card-body{
    width: 100%;
    max-width: 100%;
}
.card-title{
    justify-content: center;
}
.card-text , .brnd{
    text-align: center;

}
.rightplace .twocol h1{
    font-size: 30px;
}
.imgcont span{
    width: 5px;
}
.imgcont{
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.imgcont div{
    width: 30%;
}
.imgcont div img{
    height: 80%;
    width: 100%;
}
.imgcont h5{
    font-size: 13px;
}
.oddcard img{
    width: 300px;
}
.even .card-text{
    font-size: 24px;
}
.even2 .card-text{
    font-size: 24px;
}
}
@media only screen and (max-width:650px)
{.no-gutters{
    flex-direction: column;
}
.btext{
    font-size: 30px;
}
.welcomechild{
    width: 70%;
}
.odd .no-gutters >div{
    width: 100%;
    max-width: 90%;
    margin:auto;
}
.card img{
    width: 90%;
    height: 90;
}
.card-body{
    width: 100%;
    max-width: 100%;
}
.card-title{
    justify-content: center;
}
.card-text , .brnd{
    text-align: center;

}
.rightplace .twocol h1{
    font-size: 25px;
}
.imgcont span{
    width: 5px;
}
.imgcont{
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.imgcont div{
    width: 30%;

}
.imgcont div img{
    height: 70%;
    width: 100%;
}
.imgcont h5{
    font-size: 11px;
}
.rightplace p{
    font-size: 13px;
}
.oddcard img{
    width: 300px;
}
}
@media only screen and (max-width:500px)
{
    .welcomeparent h1{
        font-size: 21px;
    }
    .welcomechild{
        width: 80%;
        font-size: 15px;
    }
    .twocol h2{
font-size: 22px;
font-weight: bold;
    }
    .card-text{
        font-size: 16px;
    }
    .rightplace .twocol h1{
        font-size: 20px;
    }
    .rightplace p{
        font-size: 14px;
    }
    .imgcont span{
        width: 5px;
    }
    .imgcont{
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }
    .imgcont div{
        width: 30%;
    
    }
    .imgcont div img{
        height: 70%;
        width: 100%;
    }
    .imgcont h5{
        font-size: 11px;
    }
    .rightplace p{
        font-size: 11px;
    }
    .oddcard img{
        width: 300px;
    }
    .btext{
        font-size: 25px;
    }
    .bttext h4{
        font-size: 20px;
    }
}