@font-face{
  font-family: "nexa";
  src:url('nexa/NexaLight.otf')
}
@font-face{
  font-family: "nexabold";
  src:url('nexa/NexaBold.otf')
}
.bold{
  font-family: 'nexabold';
}
.mainNav{
    display: flex;
    background-color:#1C1F27;
    height: 75px;
    justify-content: space-between;
    flex-direction: row;
    width: auto;
    box-shadow: 9px 3px #1c1b1b;
    z-index: 1;
}
body{
    background-color: #101116;  
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-family: 'Nexa';
    font-weight: 800;
}
:root {
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: hsla(210, 40%, 52%, .4);
  --btn-color: #92d945;
  --btn-blue-color: hsl(210, 80%, 42%);
  --bg-color: #141218;
}

p{
    margin: 0;
}
.ct{
    text-align: center;
}
.greenbg{
    background-color: #92d945; ;
}
.navbg{
  background-color: #262a35;
}
.bg{
  background-color: #222D43;

}
.twocol{
    display: flex;
}
.content{
    width: 70%;
     margin: auto;
     font-size: 22px;
     margin-top: 50px;
 }
.nav{
    height: 75px;
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
    align-items: center;
}
.nav .hamburger{
    cursor: pointer;
width: 33px;
}
.nav div{
    width: 20px;
    height: 100%;
}
.nav .brandlogo{
    height: 211%;
    width: 150px;
    padding: 0;
    margin: 0; 
    margin-left: -120px;
}
nav .navright{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    font-family: 'Nexa';

}
nav .usernavright{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 35px;
}
nav .navright a,.usernavright a{
    color: white;
    font-size: 17px;
    text-decoration: none;
}
nav .navright,.usernavright{
    text-decoration: none;
}
nav .navright p,.usernavright p{
    color:white;
    margin: 0;
    cursor: pointer;
}
.welcomeparent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.welcome{
    margin-top: 17px;
    text-align: center;
    margin-right: 6px;
    font-weight: bold;
    color: white;
}
.welcome2{
    color: #92d945;
    font-weight: bold;
    margin-top: 17px;
    text-align: center;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: -350px;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color:#2ff905 ;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  .brandlogo{
    margin-left: -120px;
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.navright .carticon,.usernavright .carticon{
        filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
.green{
    color:#92d945; ;
}
.btn-outline-success{
  color:#92d945; 
  border: 2px solid #92d945;
}
.btn-outline-success:hover{
  background-color:#92d945; 
  border: 2px solid #92d945;
  
}
.white{
    color:white;
}
.underline{
    text-decoration: underline;
}
.footer {
   margin-top: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#262a35 ;
    color: white;
    text-align: center;
  
    z-index: 1;
  }
  .innerfooter{
      display: flex;
      flex-direction: column;
     
      justify-content: space-between;
      align-items: center; 
      margin:40px auto 0 auto ;
      padding-top: 45px;
  }
  .innerfooter .upper{
    display: flex;
    width: 100%;
    justify-content: space-between;
   
  }
.innerfooter .mid{
    width: 100%;
    margin-top: 50px;
height: 2px;
}
.innerfooter .brandlogo{
height: 120px;
width: 120px;

margin-top: -33px;
margin-left: -120px;
  }
  .innerfooter .company,.innerfooter .resources{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
  }
  .innerfooter .upper .social{
     display: flex;
     flex-direction: column;
  }
.innerfooter .upper .imagerow {
    display: flex;
    height: 45px;
    justify-content: space-between;
}
.footer img,.footer h5{
    cursor: pointer;
}
.footer img{
  width: 20px;
}
.btn-green {
    position:relative;
    padding: 10px 20px;  
    border: none;
    background: none;
    cursor: pointer;
    
    font-family: "Source Code Pro";
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;  
    color: var(--text-color);
    margin-top: 10px;
    background-color: var(--btn-color);
    box-shadow: var(--shadow-color) 2px 2px 22px;
    border-radius: 45px; 
    z-index: 0;  
    overflow: hidden;   
  }

  .btn-green:focus {
    outline-color: transparent;
    box-shadow: var(--btn-color) 2px 2px 22px;
  }
  
  .btn-green .right::after, button::after {
    content: var(--content);
    display: block;
    position: absolute;
    white-space: nowrap;
    padding: 40px 40px;
    pointer-events:none;
  }
  
  .btn-green::after{
    font-weight: bold;
    top: -30px;
    left: -20px;
  } 
  
 .btn-green .right, .left {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
 .btn-green .right {
    left: 66%;
  }
 .btn-green .left {
    right: 66%;
  }
.btn-green .right::after {
    top: -30px;
    left: calc(-66% - 20px);
    
    background-color: var(--bg-color);
    color:transparent;
    transition: transform .4s ease-out;
    transform: translate(0, -90%) rotate(0deg)
  }
  
  .btn-green:hover .right::after {
    transform: translate(0, -47%) rotate(0deg)
  }
  
  .btn-green .right:hover::after {
    transform: translate(0, -50%) rotate(-7deg)
  }
  
  .btn-green .left:hover ~ .right::after {
    transform: translate(0, -50%) rotate(7deg)
  }
  
  /* bubbles */
  .btn-green::before {
    content: '';
    pointer-events: none;
    opacity: .6;
    background:
      radial-gradient(circle at 20% 35%,  transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
      radial-gradient(circle at 75% 44%, transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
      radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);

    width: 100%;
    height: 300%;
    top: 0;
    left: 0;
    position: absolute;
    animation: bubbles 5s linear infinite both;
  }
  .searchbar{
    display: flex;
    width: 340px;
    margin-right: 20px;

  }
  .searchbar input{
    width: 90%;
    border: none;
    border-radius: 0;
    padding: 5px;
  }
  .searchbar span{
    background-color: white;
  }
  .searchbar span img{
width: 100%;
cursor: pointer;
height: 35px;
  }
  @keyframes bubbles {
    from {
      transform: translate();
    }
    to {
      transform: translate(0, -66.666%);
    }
  }
  
  .btn-blue {
    position:relative;
    padding: 10px 20px;  
    border: none;
    background: none;
    cursor: pointer;
    
    font-family: "Source Code Pro";
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;  
    color: var(--text-color);
    margin-top: 10px;
    background-color: var(--btn-blue-color);
    box-shadow: var(--shadow-color) 2px 2px 22px;
    border-radius: 45px; 
    z-index: 0;  
    overflow: hidden;   
  }

  .btn-blue:focus {
    outline-color: transparent;
    box-shadow: var(--btn-blue-color) 2px 2px 22px;
  }
  
  .btn-blue .right::after, button::after {
    content: var(--content);
    display: block;
    position: absolute;
    white-space: nowrap;
    padding: 40px 40px;
    pointer-events:none;
  }
  
  .btn-blue::after{
    font-weight: bold;
    top: -30px;
    left: -20px;
  } 
  
 .btn-blue .right, .left {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
 .btn-blue .right {
    left: 66%;
  }
 .btn-blue .left {
    right: 66%;
  }
.btn-blue .right::after {
    top: -30px;
    left: calc(-66% - 20px);
    
    background-color: var(--bg-color);
    color:transparent;
    transition: transform .4s ease-out;
    transform: translate(0, -90%) rotate(0deg)
  }
  
  .btn-blue:hover .right::after {
    transform: translate(0, -47%) rotate(0deg)
  }
  
  .btn-blue .right:hover::after {
    transform: translate(0, -50%) rotate(-7deg)
  }
  
  .btn-blue .left:hover ~ .right::after {
    transform: translate(0, -50%) rotate(7deg)
  }
  
  /* bubbles */
  .btn-blue::before {
    content: '';
    pointer-events: none;
    opacity: .6;
    background:
      radial-gradient(circle at 20% 35%,  transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
      radial-gradient(circle at 75% 44%, transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
      radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);

    width: 100%;
    height: 300%;
    top: 0;
    left: 0;
    position: absolute;
    animation: bubbles 5s linear infinite both;
  }
.mt-7{
  margin-top: 100px;
}
.red{
  color:red;
}

.upper h3{
font-family: 'nexabold';
font-size: 17px;
}
.upper h5{
font-family: 'nexa';
font-size: 15px;
}
.footer img{
  font-size: 20px;
}

.sercontainer{
  width:460px;
  margin:50px auto;
}

.searchbox{
  position:relative;
  min-width:40px;
  width:0%;
  height:40px;
  float:right;
  overflow:hidden;
  
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

.searchbox-input{
  top:0;
  right:0;
  border:0;
  outline:0;
  background:#dcddd8;
  width:100%;
  height:40px;
  margin:0;
  padding:0px 55px 0px 20px;
  font-size:20px;
  color:black;
}
.searchbox-input::-webkit-input-placeholder {
  color:var(--btn-color);
}
.searchbox-input:-moz-placeholder {
  color: var(--btn-color);
}
.searchbox-input::-moz-placeholder {
  color: var(--btn-color);
}
.searchbox-input:-ms-input-placeholder {
  color: var(--btn-color);
}

.searchbox-icon,
.searchbox-submit{
  width:40px;
  height:40px;
  display:block;
  position:absolute;
  top:0;
  font-family:verdana;
 
  right:0;
  padding:0;
  margin:0;
  border:0;
  outline:0;
  
  text-align:center;
  cursor:pointer;
  color:#FFFFFF;
  background:#262a35;
}
.searchbox-icon img{
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
.searchbox-submit img,.searchbox-submit2 img{
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
.searchbox-open{
  width:100%;
}
body{
  position: relative;
  min-height: 100vh;
}
.footer{
  position: absolute;
  bottom: -100px;
  width: 100%;
  height: 300px;   
  z-index: 0;
}
.parentcontainer{
  padding-bottom: 300px;
}
.hamburger{
display: none;
}
@media only screen and (min-width:1000px){
.sercontainer{
  position: absolute;
right: 225px;
}}
@media only screen and (max-width:1100px){
.sercontainer{
  width: 330px;
}
}
@media only screen and (max-width:1000px){
 .nav .brandlogo{
    margin-left: -120px;
  }
  nav .usernavright a{
display: none;
  }
  /* nav .usernavright .proimg{
    display: none;
  } */
  .hamburger{
    display: block;
  }
  nav .usernavright{
    display: flex;
    align-items: center;


    justify-content: center;
    margin-right: 10px;
  }
  nav .navright a{
display: none;
  }
  nav .navright{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
}
.proimg{
  width: 45px;
  height: 45px;
  margin-left: 10px;
}
.proimg img{
  width: auto;
  height: 100%;
  padding: 5px;
  border-radius: 50%;
}
.proimg .img{
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: black;
  font-size: 35px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border-radius: 50%;
}
.po{
  display: none;
  
  position: fixed;
top: 50px;
right: 16px;

flex-direction: column;
z-index: 2;
padding: 10px;
width: 300px;
}
.po .row{
  padding-left: 10px;
  padding-right: 20px;
  display: flex;
  
  align-items: center;
  margin-bottom: 15px;
}

.po img{
  width: 30px;
 
  margin-left: 10px;
}
.po a{
  margin-left: 10px;
  color: white;
  font-size: 16px;
 
}

.conspac{
  margin-bottom: 10px;
  display: block;
  width: 90%;
  margin:auto;
  background-color: grey;
  height: 1px;
}
@media only screen and (max-width:925px){

.innerfooter .company h3, .innerfooter .resources h3{
font-size: 18px;
}
.innerfooter .company h5, .innerfooter .resources h5{
font-size: 15px;
}
.innerfooter .upper .social h3{
 font-size: 18px;
}
.innerfooter .upper .imagerow{
  height: 30px;
}
}
@media only screen and (max-width:650px){
  .innerfooter .upper{
    flex-direction: column;
  }
  .parentcontainer{
    padding-bottom: 745px;
  }
  body{
    position: relative;
    min-height: 100vh;
  }
  .footer{
    position: absolute;
    bottom: -100px;
    width: 100%;
    height: 745px;   
  }
  .innerfooter .brandlogo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .innerfooter .company h3, .innerfooter .resources h3{
    font-size: 22px;
    }
    .innerfooter .company h5, .innerfooter .resources h5{
    font-size: 18px;
    }
    .innerfooter .upper .social h3{
     font-size: 22px;
    }
    .innerfooter .upper .imagerow{
      height: 30px;
    }
    .resources{
      margin-top: 40px;
    }
    .innerfooter .upper .social{
      margin-top: 40px;
      align-items: flex-start;
    }
    .innerfooter .upper .social img{
    margin-right: 10px;
    }
}
@media only screen and (max-width:650px){
.usernavright{
  position: absolute;
  right: 0;
  height: 100%;
}
.sercontainer{
  width: 10%;
}
}
.sercontainer{
right:418px;
}

@media (min-width:950px){
  .sc2{
    right: 215px;
  }
}
.footer h5:hover{
  color: greenyellow;
}
img{

  -webkit-user-drag: none;
-khtml-user-drag:none;
-moz-user-drag:none;
-o-user-drag:none;
user-select: none;
}
.searchbar2{
  display: none;
}
@media(max-width:600px){
.searchbar2{
  position: absolute;
  display: flex;
  width: 90%;
  margin: auto;
  height: 40px;
  top: 70px;
left: 5%;
background-color: white;
}
.mt-7{
  margin-top: 150px;
}
.searchbar{
  display: none;
}
.searchbar2 input{
  width: 85%;
border: none;
border-radius: 0;
}
.searchbox-submit2{
border-radius: 0;
border: none;
  width: 15%;
  background-color: white;
  height: 40px;
}
.searchbox-submit2 img{
  display: block;
  margin: auto;
  height: 100%;
}
nav .usernavright{
  width: 100px;
  height: 75px;
}
.sercontainer{
  display: none;
}
  .mainNav{
    height: 130px;
  }
  .navright{
    height: 75px;
  }
  .usernavright{
    height: 75px;
  }
}
.ming{
  width: 50px;
  margin-left: 0;
}
.searchbox-submit2{
  width: 40px;
}