.customh{
font-size: bolder;
font-family: 'nexabold';
font-size: 40px;
}
.mt-7{
    margin-top: 65px;
}
.form-control{
background-color: transparent;
color: white;
border: 1px solid grey;
}
.form-control:focus{
background-color: transparent;
color: white;

}
.cl{
    padding: 20px;
    background-color: #484e59;
}
.form{
    width: 70%;
    margin: auto;
    margin-top: 40px;
    padding: 50px;
    border: 2px solid var(--btn-color);
    border-radius: 40px;
}
.drop{
    width: 100%;
    text-align: start;
    background-color: transparent;
}
.btn-group{
    width: 100%;
}
.dropdown-toggle::after{
    border-top:none;
}
.botcon{
    width: 100%;
    margin-top: 60px;
}
.botcon button{
    display: block;
    width: 150px;
}
.footer{
    margin-top: -55px;
}
label{
    font-family: 'nexabold';
}

  h1 {
    margin: 0 0 0.25em;
  }
  /* Reset Select */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: transparent;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 100%;
    height: 3em;
    line-height: 3;
    background: transparent;
    overflow: hidden;
    border-radius: .25em;
    border: 1px solid gray;
  }
  select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: transparent;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: var(--btn-color);
  }
  @media only screen and (max-width:1000px){
  .form{
    width: 85%;
  }
  }
  @media only screen and (max-width:700px){
  .form{
    width: 95%;

    padding-left: 10px;
    padding-right: 10px;
  }
  .customh{
    font-size: 25px;
  }
  }
  @media only screen and (max-width:512px){
    label{
      font-size: 12px;
    }
    .customhb{
      font-size: 12px;
    }
  .form{
    width: 98%;
    padding-left: 10px;
    padding-right: 10px;
  }
  }