video{
    object-fit: fill;
  }
  .dotted {
    margin:5px 0;
    height:1px;
    background:
      repeating-linear-gradient(to right,white 0,white 5px,transparent 5px,transparent 9px) top;
     
    background-size:100% 2px;
    background-repeat:no-repeat;
  }
  .slant {
    clip-path: polygon(12% 0, 100% 0, 100% 100%, 0 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    right: 0;
    height: 450px;
    width: 45%;
  }
  .slant2 {
    clip-path:polygon(0% 0, 82% 0%, 100% 100%, 0% 100%);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    left: 0;
    height: 450px;
    width: 45%;

  }
  .slant p{
    margin-left: 60px;
    margin-right: 10px;
    text-align: end;
    
  }
  .slant h4{
    font-size: 45px;
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 10px;
    
    
  }
  .slant2 p{
    margin-left: 10px;
    margin-right: 50px;
    text-align: start;
    
  }
  .slant2 h4{
    font-size: 45px;
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 10px;
    
    
  }
  .options{
    display: flex;
justify-content: center;
  }
  .options >div{
    width: 30px;
  }
  .productContainer{
    display: flex;
  }
  .fh4{
    width: 210px;
  }
  .filters{
   
    padding-right: 10px; 
  }
  .filters li{
    padding-bottom: 15px;
    cursor: pointer;
  }
  .image-container {
    position: relative;
    width: 200px;
    height: 300px;
}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-container:hover .after {
    display: block;
    background-color: rgba(0, 0, 0, .6);
}
.products .card{
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.products .card img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.products .card .card-img-overlay{
  background-image: linear-gradient(#1100000f, #0d0d0d);
  height: 1px;
  margin-top: auto;
  padding-bottom: 30px;
}
.products .card:hover .card-img-overlay{
  background-image: linear-gradient(#1100000f, #0d0d0d);
  height: 100%;
  margin-top: auto;
  padding-bottom: 30px;
}
.products .card:hover .card-img-overlay p{
display: none;
  /* background-image: linear-gradient(#1100000f, #0d0d0d); */
}
.products .col{
  cursor: pointer;
}
.pagenav{
  display: flex;
  justify-content: center;
}
.pagenav a{
  border-color:#23ce00 ;
  color: #23ce00 ;
}
.pagenav a:hover{
  background-color:#23ce00 ;
  color:white ;
}
.vSeprator{
  max-height: 1195px;
  margin-right:10px ;
  width: 4px;
}
.products{
  width: 80%;
}
.stream .card{
width: 100%;
}
.stream #vp{
  height: 100%;
}

.imgpar{
  height: 450px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #484e59;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 100%;
  height: 3em;
  line-height: 3;
  background: transparent;
  overflow: hidden;
  border-radius: .25em;
  border: 1px solid gray;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: transparent;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: var(--btn-color);
}
.select2 {
  position: relative;
  display: none;
  width: 100%;
  height: 3em;
  line-height: 3;
  background: #484e59;
  overflow: hidden;
  border-radius: .25em;
  border: 1px solid gray;
}
.select2::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: transparent;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
.select2:hover::after {
  color: var(--btn-color);
}
.cusmob{
  display: none;
}
.custom{
  width: 210px;
}
@media only screen and (max-width:850px){
  .imgpar ,.slant2,.slant{
    height: 350px;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
    width: 100%;
    max-width: 100%;
    height: 300px;
  }
  .imgpar{
    height: auto;
  }
  .slant ,.slant2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .no-gutters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slant , .slant2{
    position: static;
  }
  .slant p{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    
  }
  .slant h4{
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 10px;
  }
  .slant2 p{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

  }
  .slant2 h4{
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media only screen and (max-width:750px){
  .welcome{
    font-size: 18px;
    font-family: 'nexabold';

  }
  .welcome2{
    font-size: 18px;
  }
  .imgpar ,.slant2,.slant{
    height: 350px;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
    width: 100%;
    max-width: 100%;
    height: 300px;
    font-family: 'nexabold';

  }
  .imgpar{
    height: auto;
  }
  .slant ,.slant2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .no-gutters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slant , .slant2{
    position: static;
  }
  .slant p{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

  }
  .slant h4{
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

  }
  .slant2 p{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

  }
  .slant2 h4{
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

  }
}

@media only screen and (max-width:650px){
  .select2{
    display: block;
  }
  .cusmob{
    display: block;
    width: 100%;
    margin: auto;
  }
  .custom{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cc{
    font-size: 16px;
  }
  .fh4{
    font-size: 15px;
    width: 150px;
  }
  .filters ul li{
    font-size: 12px;
  }
  .imgpar ,.slant2,.slant{
    height: 350px;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
    width: 100%;
    max-width: 100%;
    height: 300px;
  }
  .imgpar{
    height: auto;
  }
  .slant ,.slant2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .no-gutters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slant , .slant2{
    position: static;
  }
  .slant p{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    
  }
  .slant h4{
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

  }
  .slant2 p{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

  }
  .slant2 h4{
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

  }

}

@media only screen and (max-width:650px){
  .filters{
    display: none;
  }
  .vSeprator{
    display: none;
  }
  .products{
    width: 100%;
  }
}
@media only screen and (max-width:500px){
  .imgpar ,.slant2,.slant{
    height: 210px;
  }
  .products .card .card-img-overlay p{
    font-size: 12px;
  }
  .cc{
    font-size: 13px;
  }
  .imgpar ,.slant2,.slant{
    height: 350px;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
    width: 100%;
    max-width: 100%;
    height: 300px;
  }
  .imgpar{
    height: auto;
  }
  .slant ,.slant2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .no-gutters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slant , .slant2{
    position: static;
  }
  .slant p{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    
  }
  .slant h4{
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }
  .slant2 p{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

  }
  .slant2 h4{
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

  }
  .custom h2{
    font-size: 17px;
  }
  .custom h6{
    font-size: 14px;
  }
}
@media only screen and (max-width:400px){
  .filters{
    width: 140px;
  }
  .custom h6{
    width: 140px;
  }
  .imgpar ,.slant2,.slant{
    height: 180px;
  }
  .cc{
    font-size: 11px;
  }
  .slant , .slant2{
    width: 50%;
  }
.options > div{
  width: 15px;
}
  .fh4{
    font-size: 10px;
    width: 120px;
  }
  .filters ul li{
    font-size: 10px;
  }
  .imgpar ,.slant2,.slant{
    height: 350px;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
    width: 100%;
    max-width: 100%;
    height: 300px;
  }
  .imgpar{
    height: auto;
  }
  .slant ,.slant2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .no-gutters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slant , .slant2{
    position: static;
  }
  .slant p{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    
  }
  .slant h4{
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

  }
  .slant2 p{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

  }
  .slant2 h4{
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }
}


.custom h2{
  font-family: 'nexabold';
}
.custom h6{
  font-family: 'nexa';
}
.custom button{
  border-radius: 20px;
  margin-top: 10px;
}
  /* Reset Select */
 .fti4:hover{
color:greenyellow;
 }