#changes{
    background-color: transparent;
    border: 1px solid #a8a8a8;
    color: #a8a8a8;
    padding: 10px;
    width: 300px;
    font-size: 22px;
}
button{
    border: none;
    width: 170px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}
.container{
    background-color: #393a3c;
}
.productdisplay{
    display: flex;

}
.disc{
    width: 48%;
}
.img{
    width: 50%;
  }
  .mainimg{
      height: 430px;

      width: 100%;
  }
.mainimg img{
    width: 100%;
    height: auto;
}
.card{
    height: 150px;
}
.card img{
  height: 100%;
}
.productslider{
  
   width: 100%;

   white-space: nowrap;
   overflow-x: auto;
   overflow-y: hidden;
}
.productslider img{
    cursor: pointer;
    width: 100%;
    height: 100%;
    float: right;
}
.productslider .card{
    height: 180px;
    width: 320px;
    display: inline-block;
    cursor: pointer;
  }
  .productslider .card img{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .productslider .card .card-img-overlay{
    top: 134px;
    background-image: linear-gradient(#1100000f, #0d0d0d);
  }
.cn{
    margin-top: 150px;
}
.extras{
    height: auto;
}
video{
    max-width: 100%;
}
.vid{
    height: 100%;
}
.rowcus{
    display: flex;
overflow: auto;
}
.colcus , .extras{
    width: 150px;
    height: auto;
}
.dev{
    display: none;
}
@media only screen and (max-width:1000px){
    .disc h1{
        font-size: 24px;
    }
    .disc h4{
        font-size: 19px;
    }
}
@media only screen and (max-width:800px){
    .dev{
        display: block;
    }
    .productdisplay{
        flex-direction: column-reverse;
    }
    .mainimg{
        height: auto;
    }
    .img{
        width: 100%;
    }
    .disc{
        width: 100%;
    }
    .otherimg{
        margin-bottom: 40px;
    }
    .disc h1, .disc h4{
        text-align: center;
    }
    .disc div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cn{
        margin-top: 30px;
    }
     .btn{
        display: block;
        margin: auto;
    }
}
@media (max-width:400px){
.recworks h2{
font-size: 20px;
}
}