.image-crop {
	display: block;
	position: relative;
	background-color: #E6EBEE;
	width: 150px;
	height: 150px;
	margin-left:  auto;
	margin-right:  auto;
	margin-top: 150px;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 1px 1px 5px #4069E2;
}

#avatar {
	display: inline;
	height: 230px;
	width: auto;
    margin-left: -34px;
}
.customContainer{
   min-height: 900px;
    max-height:  1415px;
}
.left{
   min-height: 900px;

    width: 25%;
    max-height: 1453px;
}

.image-container {
    position: relative;
    width: 200px;
    height: 300px;
}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
}
.products{
    width: 72%;
    padding: 2%;
    margin-top: 100px;
    float: right;
}
.products .card{
  height: 280px;
  margin-bottom: 20px;
}
.products .card img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.products .card .card-img-overlay{
  top: 230px;
  background-image: linear-gradient(#1100000f, #0d0d0d);
}
.products .col{
  cursor: pointer;
}
.pagenav{
  display: flex;
  justify-content: center;
}
.pagenav a{
  border-color:#23ce00 ;
  color: #23ce00 ;
}
.pagenav a:hover{
  background-color:#23ce00 ;
  color:white ;
}
.rating{
  width: 70%;
display: block;
margin: auto;

}
