
.content p{
    text-align: center;
}
.welcomeparent h2{
    font-family:  'nexabold';
}
@media (max-width:700px){
    .content{
        width: 98%;
    }
    .content p{
        font-size: 14px;
    }
}